<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Html</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% pages.each do |page| %>
    <tr>
      <td><%= page.name %></td>
      <td><%= link_to page.pretty_url, page.url %></td>
      <td><%= page.html %></td>
      <td><%= link_to 'Show', page %></td>
      <td><%= link_to 'Edit', edit_page_path(page) %></td>
      <td><%= link_to 'Destroy', page,
                      method: :delete,
                      data: { confirm: %(Destroy "#{page.name}"?) } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
