<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render '/layouts/header', user: current_user %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render '/layouts/footer', year: Date.current.year %>
  </body>
</html>
