<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= link_to "Home", root_path %>

      <%= render '/layouts/log_status', user: current_user %>
      <%= render '/layouts/flash_messages' %>
    </header>

    <div class="container"><%= yield %></div>
  
    <footer>
      <p>
        Copyright <%= Date.current.year %> Erik Ecoologic (for what matters).
      </p>
      <p>
        <%= link_to "About", about_page_path %>
        |
        <%= link_to "Terms & Conditions", terms_and_conditions_path %>
      </p>
    </footer>
  </body>
</html>
