<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render '/layouts/header', user: current_user %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render '/layouts/footer', year: Date.current.year %>
  </body>
</html>
